{% extends '::base.html.twig' %}

{% block body %}
    {% block main %}
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}