{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div id="wrapper">
                <div id="welcome" class="welcome-title">
                    <h1><span>Welcome to</span> fitness club</h1>
                </div>

                <div class="index-item login-index"><a href="{{ path('security_login') }}">Login</a></div>
                <div class="index-item event-index"><a href="{{ path('event_list') }}">Event</a></div>
                <div class="index-item admin_login-index"><a href="{{ path('admin_login') }}">Login admin</a></div>

            </div>
        </div>
    </div>
{% endblock %}

